@import './fonts.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fcff;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Scrollbar Customize */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 30px;
}

/* Default color */
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 30px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

#root {
  min-height: 100%;
}

.pointer {
  cursor: pointer;
}

/* BUTTON */
button {
  height: 40px;
  padding: 0px 20px !important;
}

.button {
  height: 40px;
  padding: 0px 20px !important;
}

.button.lg {
  height: 55px;
}

.button.MuiButton-containedPrimary {
  background-color: #2e5bff;
  color: #fff;
}

button.MuiIconButton-root {
  padding: 0px !important;
}
button.MuiIconButton-root:hover {
  background-color: unset !important;
}

/* CHECKBOX */
.checkbox {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 110px;
}
/*
#simple-select-outlined {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 12px;
} */

/* MODAL */
.modal .MuiBox-root::-webkit-scrollbar-thumb {
  background-color: silver;
}

/* UL LI */
ul {
  display: flex !important;
  flex-direction: column;
  background-color: #fff !important;
}

ul li {
  width: 100% !important;
  justify-content: flex-start !important;
  background-color: #fff !important;
  padding: 10px !important;
}

ul li:hover {
  background-color: #ebebeb !important;
}

#sign-in-select-brand {
  color: #fff !important;
}

/* a */
a.primary {
  color: #1abcfe;
}

/* Input */
.main-input input {
  padding: 18.5px 14px !important;
}

/* Textarea */
textarea {
  padding: 10px 13px;
  outline: none;
}

/* Checkbox */
span.MuiCheckbox-root svg {
  fill: dimgray;
}

/* COUNT DOWN TIMER */
#countdown-timer {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
  font-size: 32px;
  font-family: 'Montserrat';
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

/* MARGIN */
.mr {
  margin-right: 8px !important;
}

.ml {
  margin-left: 8px !important;
}

.mt {
  margin-top: 8px !important;
}

.mb {
  margin-bottom: 8px !important;
}

/* HOVER STYLE */
.hover:hover {
  cursor: pointer;
  background-color: #d8dbdd;
}

@media only screen and (max-width: 600px) {
  .button.lg {
    height: 40px;
  }
}
